ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

li {
	list-style: none;
}

// Font awsome bullet points (must be targeted with ul class)
// li:before {
// 	font-family: 'FontAwesome';
// 	font-size: 8px;
// 	content: '\f111';
// 	margin:0 5px 0 -15px;
// 	color: #000;
// }

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
