////////////////////////////////////////////////
// Background colors
///////////////////////////////////////////////
  //Header background colors
$color__background-sticky-nav: #2b2c36;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #4dA9bf;
$color__background-button-hover: #4dbfaa;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-primary-nav: #f1f3f4;
$color__background-page-section: #f1f3f4;
$color__background-callout-box: #f1f3f4;
$color__background-callout-box-hover: #5cb85c;
$color__background-teaser-box: #f1f3f4;
$color__background-content-image-box: #f1f3f4;
$color__background-accordion: #f1f3f4;
$color__background-accordion-hover: #dfdfdf;
$color__background-testimonial-slider: #f1f3f4;
$color__background-sidebar-widgets: #f1f3f4;
$color__background-blog-post: #f1f3f4;
$color__background-contact-form: #fff;
$color__background-site-footer: #2b2c36;

////////////////////////////////////////////////
// Text colors
////////////////////////////////////////////////
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #717171;
$color__link-visited: #717171;
$color__link-hover: #4dbfaa;
$color__text-main: #717171;
$color__text-primary-nav: #fff;
$color__text-button: #f2f2f2;
$color__text-button-hover: #f2f2f2;
$color__text-callout-box-hover: #f2f2f2;
$color__text-site-footer: #fff;
$color__link-site-footer: #fff;
$color__link-hover-site-footer: #66b2ff;

////////////////////////////////////////////////
// Border colors
////////////////////////////////////////////////
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

////////////////////////////////////////////////
//Callout box colors
////////////////////////////////////////////////
$color__callout-box-default: #777;
$color__callout-box-primary: #428bca;
$color__callout-box-success: #5cb85c;
$color__callout-box-danger: #d9534f;
$color__callout-box-warning: #f0ad4e;
$color__callout-box-info: #5bc0de;

////////////////////////////////////////////////
// Alertbox colors
////////////////////////////////////////////////
$color__alertbox-error: #d9534f;
$color__alertbox-success: #5cb85c;

////////////////////////////////////////////////
//FAQ accordion
////////////////////////////////////////////////
