a {
	color: $color__link;
	text-decoration: none;
	@include hover-text-effect-before;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		@include hover-text-effect-after;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

//Breadcrumbs
#breadcrumbs{
    list-style:none;
    margin:10px 0;
    overflow:hidden;
}

#breadcrumbs li{
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}

#breadcrumbs .separator{
    font-size:14px;
    font-weight:100;
    color:#ccc;
}

.button-triangle-container {
	position: absolute;
	left: 50%;
	bottom: 0;
	z-index: 9999;
	margin-bottom: 140px;
}

.button-triangle {
	width:40px;
	height:40px;
	display:block;
	text-align:center;
	border:2px solid #fff;
	border-radius:100%;
	padding:10px;
	border-radius:100%;
	margin:0 auto;
	color: #eee;
	transition: border-color 0.5s ease;
}

.button-triangle:hover {
	border-color: #4dA9bf;
}

.triangle {
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:8px solid #fff;
}
