@media screen and (min-width: 769px) {
  #toggle {
  display:none;
  }
}

@media screen and (max-width: 768px) {
  #popout {
  position: fixed;
  height: 100%;
  width: 250px;
  background: #2b2c36;
  color: white;
  top: 0px;
  left: -250px;
  overflow:auto;
  z-index: 9999;
  }

  #toggle {
  float: right;
  position: fixed;
  top: 35px;
  right: 65px;
  width: 28px;
  height: 24px;
  z-index: 9999;
  }

.nav-menu li {
  padding:20px;
  width:100%;
}

.nav-menu li:hover {}

.nav-menu li a {
  color:#eee;
  text-decoration:none;
  width:100%;
  }
}

.wq-mobile-menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
}
.wq-mobile-menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 3px solid #eee;
  width: 100%;
  transition: 0.55s;
}
.wq-mobile-menu-top {
  top: 0;
}
.wq-mobile-menu-middle {
  top: 10px;
}
.wq-mobile-menu-bottom {
  top: 20px;
}
.wq-mobile-menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.55s 0.5s;
}
.wq-mobile-menu-middle-click {
  opacity: 0;
}
.wq-mobile-menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.55s 0.5s;
}
